* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.typewriter h1 {
	overflow: hidden;
	/* Ensures the content is not revealed until the animation */
	border-right: .15em solid #fff;
	/* The typwriter cursor */
	white-space: nowrap;
	/* Keeps the content on a single line */
	margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em;
	/* Adjust as needed */
	animation:
		typing 3.5s steps(40, end),
		blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: #fff;
	}
}

figure.image {
	position: relative;
	padding-top: 50%;
	margin: 0;

	img {
		position: absolute !important;
		width: 100% !important;
		height: 100%;
	}
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;

	&.pixiCanvas {
		z-index: 300;
	}
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #d8d8eff0;
	color: #fff;

	.material-tooltip {
		display: flex;
		align-items: center;
		font-size: 0.8rem;
		letter-spacing: 1px;
		min-height: 10px;
		padding: 4px 8px;
	}

	.preloader {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1000;

		&-background {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #9900ff;
			z-index: 1100;
			animation: suckedIn_general 0.8s linear 0.5s forwards;
			// animation: suckedIn_general 0.8s cubic-bezier(0.04, 1.62, 0.99, -0.41) 0.5s forwards;
			transform-origin: center;
		}

		&-background-right,
		&-background-left {
			position: absolute;
			width: 50%;
			height: 50%;
			background-color: #9900ff;
			animation: suckedIn_child 0.8s linear 0.5s forwards;
			// animation: suckedIn_child 0.8s cubic-bezier(0.04, 1.62, 0.99, -0.41) 0.5s forwards;
		}

		&-background-right {
			left: 0;
			top: 50%;
			transform-origin: top right;
		}

		&-background-left {
			left: 50%;
			top: 0;
			transform-origin: bottom left;
		}

		@keyframes suckedIn_general {
			0% {
				transform: skew(0deg) scale(1);
				z-index: 1100;
			}

			50% {
				transform: skew(25deg) scale(0.75);
				z-index: 1100;
			}

			55% {
				transform: skew(35deg) scale(0.45);
				z-index: 1300;
			}

			90% {
				transform: skew(40deg) scale(0.08);
				z-index: 1300;
			}

			100% {
				transform: skew(45deg) scale(0);
				z-index: 1300;
			}
		}

		@keyframes suckedIn_child {
			0% {
				transform: skew(0deg) scale(1);
				z-index: 1100;
			}

			50% {
				transform: skew(-25deg) scale(0.75);
				z-index: 1100;
			}

			55% {
				transform: skew(-35deg) scale(0.45);
				z-index: 1300;
			}

			90% {
				transform: skew(-40deg) scale(0.08);
				z-index: 1300;
			}

			100% {
				transform: skew(-45deg) scale(0);
				z-index: 1300;
			}
		}

		&-portal {
			position: absolute;
			width: 0;
			height: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			background-image: radial-gradient(circle, #000, #141415 85%);
			box-shadow: 0 0 6px 2px #fff, inset 0 0 12px 2px #aaa;
			animation: portal 0.5s 0.2s cubic-bezier(0.46, -0.1, 0.09, 1.43) forwards;
			z-index: 1200;
		}

		&-fog-1,
		&-fog-2 {
			position: absolute;
			width: 300%;
			height: 100%;
			left: 0;
			top: 0;
		}

		&-fog-1 {
			background: url('../img/fog-1.png') center/contain repeat-x;
			animation: marquee 40s linear infinite reverse;
		}

		&-fog-2 {
			background: url('../img/fog-2.png') center/contain repeat-x;
			animation: marquee 40s linear infinite;
		}

		@keyframes marquee {
			0% {
				transform: translate3d(0, 0, 0);
			}

			100% {
				transform: translate3d(-200vw, 0, 0);
			}
		}

		@keyframes portal {
			0% {
				width: 0;
				height: 0;
			}

			10% {
				width: 8rem;
				height: 10rem;
			}

			100% {
				width: 16rem;
				height: 20rem;
			}
		}
	}

	.equaliser-container {
		height: 32px;
		width: 32px;
		margin: 0 0;
		opacity: 0;
		transform: scale(0.5);
		top: 15%;
		right: 10%;
		position: fixed;
		z-index: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #fff;
		border-radius: 50%;
		padding: 5px;

		button.play-pause {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			z-index: 600;
		}

		.no-sound {
			display: block;
			width: 80%;
			height: 2px;
			background-color: #fff;

			&.inactive {
				display: none;
			}
		}

		.colour-bar {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 10px;
			background: #fff;
		}

		.equaliser-column {
			width: 4px;
			float: left;
			margin: 0 1px 0 0;
			padding: 0;
			height: 10px;
			position: relative;
			list-style-type: none;

			&.inactive {
				display: none;
			}

			&:nth-child(1) .colour-bar {
				animation: color-bar 0.95s 0.25s ease-out alternate infinite;
			}

			&:nth-child(2) .colour-bar {
				animation: color-bar 1.1s 0.15s ease-out alternate infinite;
			}

			&:nth-child(3) .colour-bar {
				animation: color-bar 1s 0.2s ease-out alternate infinite;
			}

			&:nth-child(4) .colour-bar {
				animation: color-bar 1.15s 0.05s ease-out alternate infinite;
			}

			&:nth-child(5) .colour-bar {
				animation: color-bar 0.9s 0.3s ease-out alternate infinite;
			}
		}

		@keyframes color-bar {
			0% {
				height: 1px;
			}

			10% {
				height: 3px;
			}

			20% {
				height: 5px;
			}

			30% {
				height: 2px;
			}

			40% {
				height: 7px;
			}

			50% {
				height: 9px;
			}

			60% {
				height: 3px;
			}

			70% {
				height: 8px;
			}

			80% {
				height: 5px;
			}

			90% {
				height: 3px;
			}

			100% {
				height: 1px;
			}
		}
	}

	#nav-icon {
		opacity: 0;
		width: 30px;
		height: 24px;
		position: fixed;
		z-index: 500;
		top: 2rem;
		left: 5%;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
		overflow: hidden;

		a {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: #fff;
			border-radius: 16px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .1s linear .1s;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 10px;
				left: 0;
			}

			&:nth-child(3) {
				bottom: 0;
			}
		}

		&.moveSticks {
			& span:nth-child(1) {
				animation: moveNavStick 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s infinite;
			}

			& span:nth-child(2) {
				animation: moveNavStick 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s infinite;
			}

			& span:nth-child(3) {
				animation: moveNavStick 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.55s infinite;
			}
		}

		&.open {
			& span:nth-child(1) {
				top: 10px;
				transform: rotate(135deg);
			}

			& span:nth-child(2) {
				left: -60px;
			}

			& span:nth-child(3) {
				bottom: 10px;
				transform: rotate(-135deg);
			}
		}

		@keyframes moveNavStick {
			0% {
				left: -100%;
				max-width: 100%;
			}

			50% {
				left: 0;
				max-width: 100%;
			}

			90% {
				left: 80%;
				max-width: 20%;
			}

			100% {
				left: 100%;
				max-width: 0;
			}
		}
	}

	.floating-buttons {
		position: absolute;
		z-index: 500;
		top: 6rem;
		left: 5%;

		li {
			margin-bottom: 50%;
			opacity: 0;
			transform: scale(0) translateY(250px);
			transition: 0.3s ease-in-out 0.1s;
		}

		&.showButtons {
			li {
				transform: scale(1) translateY(0);
				transform-origin: top center;
				opacity: 1;
			}
		}
	}

	.dotstyle {
		opacity: 0;
		top: 45%;
		right: 10%;
		position: fixed;
		z-index: 2000;

		ul {
			position: relative;
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 0;
			list-style: none;
			cursor: default;
			user-select: none;

			li {
				position: relative;
				display: block;
				float: left;
				margin: 6px auto;
				width: 10px;
				height: 10px;
				cursor: pointer;
				transition: 0.3s ease 0.3s;

				a {
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					outline: none;
					border-radius: 50%;
					background-color: #fff;
					background-color: rgba(255, 255, 255, 0.3);
					text-indent: -999em;
					cursor: pointer;
					position: absolute;
					border: 2px solid #fff;
					background: transparent;

					&::after {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						border-radius: 50%;
						visibility: hidden;
						background: #141415f0;
						opacity: 0;
						transform: rotate(-100deg);
						transform-origin: -200% 50%;
						transition: transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
					}
				}

				&.current {
					width: 12px;
					height: 12px;

					a {
						&::after {
							visibility: visible;
							opacity: 1;
							transform: rotate(0deg);
							transition: transform 0.3s ease, opacity 0.3s ease;
						}
					}
				}
			}
		}
	}

	main {
		position: relative;
		height: 100vh;
		background-color: #141415;
		overflow: hidden;

		&>section {
			position: relative;
			height: 100vh;
			overflow: hidden;
			z-index: 600;
			display: none;
		}

		.home {
			&__title {
				opacity: 0;
				position: absolute;
				display: inline-block;
				top: 50%;
				left: 60%;
				z-index: 50;
				transform: translate(-50%, -50%);

				h1 {
					font-size: 1.5rem;
				}
			}
		}

		.skills {
			position: relative;

			&-container {
				position: absolute;
				top: 50%;
				left: 65%;
				transform: translate(-50%, -50%);
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&__header {
				padding-bottom: 1rem;
				text-align: center;

				h2 {
					font-size: 1.5rem;
					margin: 1rem auto;
				}

				.skills-info {
					display: flex;

					.chip {
						display: flex;
						flex-direction: column;
						align-items: center;
						font-size: 10px;
						height: auto;
						line-height: 1.5;
						background-color: transparent;
						color: #fff;
						margin-bottom: 0;

						img {
							width: 15px;
							height: 15px;
							margin: auto;
						}
					}
				}

				.header-bottom-line {
					margin-top: 1rem;
					border-bottom: 1px solid #fff;
				}
			}

			&__distribution {
				margin-top: 0.5rem;

				.skills-title {
					display: flex;

					.single-text {
						font-size: 12px;
						padding: 0 1px;

						&:empty {
							margin: auto 5px;
						}
					}
				}

				&>div {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					&>div {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
					}
				}

				img {
					opacity: 0;
					width: 2.5rem;
					height: 2.5rem;
					position: relative;
					margin: 0.5rem 1rem;
					margin-top: 0;
					padding-top: 0.5rem;
					animation: float 4s linear infinite;

					background-position: top center;
					background-repeat: no-repeat;
					background-size: 20px 20px;

					&.high {
						background-image: url('../img/arrow_up.svg');
					}

					&.neutral {
						background-image: url('../img/arrow_neutral.svg');
					}

					&.low {
						background-image: url('../img/arrow_down.svg');
					}

					@keyframes float {
						0% {
							transform: translatey(0px) scale(1);
						}

						25% {
							transform: translatey(-8px) scale(0.8);
						}

						50% {
							transform: translatey(0px) scale(1);
						}

						75% {
							transform: translatey(8px) scale(0.8);
						}

						100% {
							transform: translatey(0px) scale(1);
						}
					}
				}
			}

			&-title {
				font-size: 1rem;
				margin: 1rem auto;
			}
		}

		.projects {
			position: relative;

			&-container{
				position: absolute;
				top: 50%;
				left: 65%;
				transform: translate(-50%, -50%);
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&__header {

				h2 {
					font-size: 1.5rem;
				}
			}

			&__contents {

				.single-project {
					.card {
						border-radius: 3px;

						&-image {
							.btn-floating {
								width: 25px;
								height: 25px;

								&.halfway-fab {
									right: 16px;
									bottom: -12px;
									display: flex;
									align-items: center;
								}

								i {
									line-height: 1;
									font-size: 1rem;
								}
							}
						}

						&-content {
							background-color: #eee;
							padding: 0.5rem;
							text-align: center;

							a {
								color: #000;

								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}

			}
		}

		.contact {
			position: relative;

			&__header {
				position: absolute;
				top: 10%;
				left: 60%;
				z-index: 50;
				transform: translate(-50%, -50%);

				h2 {
					font-size: 1.5rem;
				}
			}

			&__form {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 50;
				transform: translate(-50%, -50%);

				form {}
			}
		}
	}
}